swagger: "2.0"
info:
  version: 1.0.0
  title: Cloud Manager API
  description: "This API allows access to Cloud Manager programs, pipelines, and environments by an authorized technical account created through the Adobe I/O Console. The base url for this API is https://cloudmanager.adobe.io, e.g. to get the list of programs for an organization, you would make a GET request to https://cloudmanager.adobe.io/api/programs (with the correct set of headers as described below). This swagger file can be downloaded from https://raw.githubusercontent.com/AdobeDocs/cloudmanager-api-docs/main/swagger-specs/api.yaml."
host: cloudmanager.adobe.io
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: Programs
  - name: Repositories
  - name: Branches
  - name: Pipelines
  - name: Pipeline Execution
  - name: Execution Artifacts
  - name: Environments
  - name: Region Deployments
  - name: Variables
  - name: Rapid Development Environments
  - name: Environment Restore From Backup
  - name: IP Allowlist
  - name: IP Allowlist Binding
  - name: Domain
  - name: Domain Mappings - CDN Configurations
  - name: SSL Certificates
  - name: EDS Sites
  - name: Tenants
  - name: Regions
  - name: Network infrastructure
  - name: Environment Advanced Networking Configuration
  - name: ContentSets
paths:
  /api/programs:
    get:
      tags:
        - Programs
      summary: Lists Programs
      description: "This API is deprecated and should no longer be used. Please use the [Lists Programs for Tenant API](#operation/getProgramsForTenant) instead."
      operationId: getPrograms
      parameters:
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/ProgramList"
  "/api/program/{programId}":
    get:
      tags:
        - Programs
      summary: Get Program
      description: Returns a program by its id
      operationId: getProgram
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of program
          schema:
            $ref: "#/definitions/Program"
        "404":
          description: Program not found
    delete:
      tags:
        - Programs
      summary: Delete Program
      description: Delete an program
      operationId: deleteProgram
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/Program"
        "202":
          description: Delete was successful.
          schema:
            $ref: "#/definitions/Program"
        "403":
          description: Forbidden.
        "404":
          description: Program not found.
        "412":
          description: Deletion not supported
  "/api/program/{programId}/repositories":
    get:
      tags:
        - Repositories
      summary: Lists Repositories
      description: Lists all Repositories in an program
      operationId: getRepositories
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: start
          in: query
          description: Pagination start parameter
          required: false
          type: string
          default: "0"
        - name: limit
          in: query
          description: Pagination limit parameter
          required: false
          type: integer
          default: 20
          format: int32
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/RepositoryList"
  "/api/program/{programId}/repository/{repositoryId}":
    get:
      tags:
        - Repositories
      summary: Get Repository
      description: Returns an repository by its id
      operationId: getRepository
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: repositoryId
          in: path
          description: Identifier of the repository
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/Repository"
  "/api/program/{programId}/repository/{repositoryId}/branches":
    get:
      tags:
        - Branches
      summary: List Branches
      description: Returns the list of branches from a repository
      operationId: getBranches
      parameters:
        - name: programId
          in: path
          description: Identifier of the program.
          required: true
          type: string
        - name: repositoryId
          in: path
          description: Identifier of the repository
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of the list of repository branches
          schema:
            $ref: "#/definitions/BranchList"
  "/api/program/{programId}/pipelines":
    get:
      tags:
        - Pipelines
      summary: List Pipelines
      description: Returns all the pipelines that the requesting user has access to in an program
      operationId: getPipelines
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: type
          in: query
          description: Type of the pipelines
          required: false
          type: string
        - name: start
          in: query
          description: Pagination start parameter
          required: false
          type: string
          default: "0"
        - name: limit
          in: query
          description: Pagination limit parameter
          required: false
          type: integer
          default: 500
          format: int32
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/PipelineList"
  "/api/program/{programId}/pipeline/{pipelineId}":
    get:
      tags:
        - Pipelines
      summary: Get Pipeline
      description: Returns a pipeline by its id
      operationId: getPipeline
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of pipeline
          schema:
            $ref: "#/definitions/Pipeline"
        "404":
          description: Pipeline not found
    delete:
      tags:
        - Pipelines
      summary: Delete a Pipeline
      description: Delete a pipeline. All the data is wiped.
      operationId: deletePipeline
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        default:
          description: successful operation
    patch:
      tags:
        - Pipelines
      summary: Patches Pipeline
      description: Patches a pipeline within an program.
      operationId: patchPipeline
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
        - in: body
          name: body
          description: The update to the pipeline
          required: true
          schema:
            $ref: "#/definitions/PipelineUpdate"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/Pipeline"
  "/api/program/{programId}/pipeline/{pipelineId}/cache":
    delete:
      tags:
        - Pipelines
      summary: Invalidate Cache
      description: Remove all cached artifacts and resets the cache to an empty state.
      operationId: invalidateCache
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        default:
          description: successful operation
  "/api/program/{programId}/pipeline/{pipelineId}/execution":
    get:
      tags:
        - Pipeline Execution
      summary: Get current pipeline execution
      description: Returns current pipeline execution if any.
      operationId: getCurrentExecution
      parameters:
        - name: programId
          in: path
          description: Identifier of the program.
          required: true
          type: string
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of current execution
          schema:
            $ref: "#/definitions/PipelineExecution"
        "404":
          description: No pipeline execution exits or unknown pipeline or program
    put:
      tags:
        - Pipeline Execution
      summary: Start the pipeline
      description: Starts the Pipeline. This works only if the pipeline is not already started.
      operationId: startPipeline
      parameters:
        - name: programId
          in: path
          description: Identifier of the program.
          required: true
          type: string
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
        - name: pipelineExecutionMode
          in: query
          description: The mode in which to run the execution. EMERGENCY mode will skip certain steps and is only available to select AMS customers.
          required: false
          type: string
          default: NORMAL
          enum:
            - NORMAL
            - EMERGENCY
        - name: stepId
          in: query
          description: Identifier of the step from which the re-execution will start
          required: false
          type: string
        - name: sourceExecutionId
          in: query
          description: Identifier of the source execution from which the execution will start
          required: false
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "201":
          description: Successfully started pipeline execution
          schema:
            $ref: "#/definitions/PipelineExecution"
          headers:
            location:
              type: string
              description: The URL of the new execution
        "400":
          description: Request conflicts with the expected state of pipeline
        "404":
          description: No pipeline execution exits or unknown pipeline or application
        "412":
          description: Pipeline is busy
        "503":
          description: Pipeline execution cannot be started because of unplanned maintenance
          schema:
            $ref: "#/definitions/SystemUnderMaintenanceExceptionMapper"
  "/api/program/{programId}/pipeline/{pipelineId}/execution/{executionId}":
    get:
      tags:
        - Pipeline Execution
      summary: Get pipeline execution
      description: Returns a pipeline execution by id
      operationId: getExecution
      parameters:
        - name: programId
          in: path
          description: Identifier of the program.
          required: true
          type: string
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
        - name: executionId
          in: path
          description: Identifier of the execution
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of execution
          schema:
            $ref: "#/definitions/PipelineExecution"
        "404":
          description: No pipeline execution exits or unknown pipeline or application
  "/api/program/{programId}/pipeline/{pipelineId}/execution/{executionId}/phase/{phaseId}/step/{stepId}":
    get:
      tags:
        - Pipeline Execution
      summary: Get step state
      description: ""
      operationId: stepState
      parameters:
        - name: programId
          in: path
          description: Identifier of the program.
          required: true
          type: string
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
        - name: executionId
          in: path
          description: Identifier of the execution
          required: true
          type: string
        - name: phaseId
          in: path
          description: Identifier of the phase
          required: true
          type: string
        - name: stepId
          in: path
          description: Identifier of the step
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of step state
          schema:
            $ref: "#/definitions/PipelineExecutionStepState"
        "403":
          description: Missing permission for user to read step
        "404":
          description: Pipeline execution does not exist
  "/api/program/{programId}/pipeline/{pipelineId}/execution/{executionId}/phase/{phaseId}/step/{stepId}/advance":
    put:
      tags:
        - Pipeline Execution
      summary: Advance
      description: "Post to this url in order to advance the current pipeline execution, if paused and waiting for user interaction. Link is present in output only in that case. The input depends on the actual reason for which the pipeline execution stopped."
      operationId: advancePipelineExecution
      parameters:
        - name: programId
          in: path
          description: Identifier of the program.
          required: true
          type: string
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
        - name: executionId
          in: path
          description: Identifier of the execution
          required: true
          type: string
        - name: phaseId
          in: path
          description: Identifier of the phase
          required: true
          type: string
        - name: stepId
          in: path
          description: Identifier of the step
          required: true
          type: string
        - in: body
          name: body
          description: "Input for advance. See documentation at https://www.adobe.io/experience-cloud/cloud-manager/guides/api-usage/advancing-and-cancelling-steps/ for details."
          required: true
          schema:
            type: object
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "202":
          description: Successful resume of pipeline execution
        "403":
          description: Missing permission for user to advance the pipeline execution
        "404":
          description: No pipeline execution exits or unknown pipeline or program
  "/api/program/{programId}/pipeline/{pipelineId}/execution/{executionId}/phase/{phaseId}/step/{stepId}/cancel":
    put:
      tags:
        - Pipeline Execution
      summary: Cancel
      description: Post to this url in order to cancel the current pipeline execution. Link is present in output only in that case.
      operationId: cancelPipelineExecutionStep
      parameters:
        - name: programId
          in: path
          description: Identifier of the program.
          required: true
          type: string
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
        - name: executionId
          in: path
          description: Identifier of the execution
          required: true
          type: string
        - name: phaseId
          in: path
          description: Identifier of the phase
          required: true
          type: string
        - name: stepId
          in: path
          description: Identifier of the step
          required: true
          type: string
        - in: body
          name: body
          description: "Input for cancel. See documentation at https://www.adobe.io/experience-cloud/cloud-manager/guides/api-usage/advancing-and-cancelling-steps/ for details."
          required: true
          schema:
            type: object
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "202":
          description: Successful cancel of pipeline execution
        "403":
          description: Missing permission for user to cancel the current pipeline execution
        "404":
          description: No pipeline execution exits or unknown pipeline or program
  "/api/program/{programId}/pipeline/{pipelineId}/execution/{executionId}/phase/{phaseId}/step/{stepId}/logs":
    get:
      tags:
        - Pipeline Execution
      summary: Get logs
      description: Get the logs associated with a step.
      operationId: getStepLogs
      parameters:
        - name: programId
          in: path
          description: Identifier of the program.
          required: true
          type: string
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
        - name: executionId
          in: path
          description: Identifier of the execution
          required: true
          type: string
        - name: phaseId
          in: path
          description: Identifier of the phase
          required: true
          type: string
        - name: stepId
          in: path
          description: Identifier of the step
          required: true
          type: string
        - name: file
          in: query
          description: Identifier of the log file
          required: false
          type: string
        - name: Accept
          in: header
          required: false
          type: string
          description: "Specify application/json in this header to receive a JSON response. Otherwise, a 307 response code will be returned with a Location header."
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of logs
          schema:
            $ref: "#/definitions/Redirect"
        "403":
          description: Missing permission for user to read logs
        "404":
          description: Pipeline execution does not exist
  "/api/program/{programId}/pipeline/{pipelineId}/execution/{executionId}/phase/{phaseId}/step/{stepId}/artifacts":
    get:
      tags:
        - Execution Artifacts
      summary: ListArtifacts
      description: Get the list of artifacts associated with a step.
      operationId: listStepArtifacts
      parameters:
        - name: programId
          in: path
          description: Identifier of the program.
          required: true
          type: string
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
        - name: executionId
          in: path
          description: Identifier of the execution
          required: true
          type: string
        - name: phaseId
          in: path
          description: Identifier of the phase
          required: true
          type: string
        - name: stepId
          in: path
          description: Identifier of the step
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of artifacts list
          schema:
            $ref: "#/definitions/ArtifactList"
        "403":
          description: Missing permission for user to read artifacts
        "404":
          description: Pipeline execution does not exist
  "/api/program/{programId}/pipeline/{pipelineId}/execution/{executionId}/phase/{phaseId}/step/{stepId}/artifact/{artifactId}":
    get:
      tags:
        - Execution Artifacts
      summary: GetArtifact
      description: Get artifact.
      operationId: getStepArtifact
      parameters:
        - name: programId
          in: path
          description: Identifier of the program.
          required: true
          type: string
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
        - name: executionId
          in: path
          description: Identifier of the execution
          required: true
          type: string
        - name: phaseId
          in: path
          description: Identifier of the phase
          required: true
          type: string
        - name: stepId
          in: path
          description: Identifier of the step
          required: true
          type: string
        - name: artifactId
          in: path
          description: Identifier of the artifact
          required: true
          type: string
        - name: Accept
          in: header
          required: false
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of artifact
        "403":
          description: Missing permission for user to read artifact
        "404":
          description: Pipeline execution does not exist
  "/api/program/{programId}/pipeline/{pipelineId}/execution/{executionId}/phase/{phaseId}/step/{stepId}/metrics":
    get:
      tags:
        - Pipeline Execution
      summary: Get step metrics
      description: ""
      operationId: stepMetric
      parameters:
        - name: programId
          in: path
          description: Identifier of the program.
          required: true
          type: string
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
        - name: executionId
          in: path
          description: Identifier of the execution
          required: true
          type: string
        - name: phaseId
          in: path
          description: Identifier of the phase
          required: true
          type: string
        - name: stepId
          in: path
          description: Identifier of the step
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of metrics
          schema:
            $ref: "#/definitions/PipelineStepMetrics"
        "403":
          description: Missing permission for user to read metrics
        "404":
          description: Pipeline execution does not exist
  "/api/program/{programId}/pipeline/{pipelineId}/executions":
    get:
      tags:
        - Pipeline Execution
      summary: List Executions
      description: Returns the history of pipeline executions in a newest to oldest order
      operationId: getExecutions
      parameters:
        - name: programId
          in: path
          description: Identifier of the program.
          required: true
          type: string
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
        - name: start
          in: query
          description: Pagination start parameter
          required: false
          type: string
        - name: limit
          in: query
          description: Pagination limit parameter
          required: false
          type: integer
          format: int32
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of execution history
          schema:
            $ref: "#/definitions/PipelineExecutionListRepresentation"
        "403":
          description: Missing permission for user to read executions
        "404":
          description: Pipeline does not exist
  "/api/program/{programId}/environments":
    get:
      tags:
        - Environments
      summary: List Environments
      description: Lists all environments in an program
      operationId: getEnvironments
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: type
          in: query
          description: Type of the environment
          required: false
          type: string
          enum:
            - dev
            - stage
            - prod
            - rde
            - preprod
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of environment list
          schema:
            $ref: "#/definitions/EnvironmentList"
        "404":
          description: Program not found
    post:
      tags:
        - Environments
      summary: Create or clone Environment
      description: Create Environment
      operationId: createEnvironment
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - in: body
          name: body
          description: Environment
          required: true
          schema:
            $ref: "#/definitions/NewEnvironment"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "201":
          description: Environment created
          schema:
            $ref: "#/definitions/Environment"
        "400":
          description: Bad request
  "/api/program/{programId}/environment/{environmentId}":
    get:
      tags:
        - Environments
      summary: Get Environment
      description: Returns an environment by its id
      operationId: getEnvironment
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: environmentId
          in: path
          description: Identifier of the environment
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/Environment"
    delete:
      tags:
        - Environments
      summary: DeleteEnvironment
      description: Delete environment
      operationId: deleteEnvironment
      parameters:
        - name: programId
          in: path
          description: Identifier of the application
          required: true
          type: string
        - name: environmentId
          in: path
          description: Identifier of the environment
          required: true
          type: string
        - name: ignoreResourcesDeletionResult
          in: query
          description: "Ignore Resources Deletion Result option, delete flow does not fail if resources could not be deleted"
          required: false
          type: boolean
          default: false
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "201":
          description: Environment deleted
          schema:
            $ref: "#/definitions/Environment"
        "400":
          description: Environment deletion in progress
          schema:
            $ref: "#/definitions/BadRequestError"
        "404":
          description: Environment not found
  "/api/program/{programId}/environment/{environmentId}/regionDeployments/{regionDeploymentId}":
    get:
      tags:
        - Region Deployments
      summary: Get Region Deployment
      description: Return a region deployment by its id
      operationId: getRegionDeployment
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: environmentId
          in: path
          description: Identifier of the environment
          required: true
          type: string
        - name: regionDeploymentId
          in: path
          description: Identifier of the regionDeployment
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of the region deployment for the environment
          schema:
            $ref: "#/definitions/RegionDeployment"
  "/api/program/{programId}/environment/{environmentId}/regionDeployments":
    get:
      tags:
        - Region Deployments
      summary: Get Region Deployments
      description: List the region deployments for an environment
      operationId: getRegionDeployments
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: environmentId
          in: path
          description: Identifier of the environment
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of the region deployments for the environment
          schema:
            $ref: "#/definitions/RegionDeploymentList"
    post:
      tags:
        - Region Deployments
      summary: Create Region Deployment
      description: Add region deployments in an environment
      operationId: createRegionDeployment
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: environmentId
          in: path
          description: Identifier of an environment
          required: true
          type: string
        - in: body
          name: body
          description: RegionDeployment
          required: true
          schema:
            type: array
            items:
              $ref: "#/definitions/NewRegionDeployment"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "201":
          description: Region deployment created
          schema:
            $ref: "#/definitions/RegionDeploymentList"
        "400":
          description: Bad request
    patch:
      tags:
        - Region Deployments
      summary: Patch Region Deployment
      description: Remove region deployments from an environment
      operationId: patchRegionDeployment
      parameters:
        - name: programId
          in: path
          description: Identifier of the application
          required: true
          type: string
        - name: environmentId
          in: path
          description: Identifier of the environment
          required: true
          type: string
        - in: body
          name: body
          description: RegionDeployment
          required: true
          schema:
            type: array
            items:
              $ref: "#/definitions/RegionDeploymentDeletion"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "202":
          description: Region Deployment Modification request accepted
          schema:
            $ref: "#/definitions/RegionDeploymentList"
        "400":
          description: Region Deployment Modification bad request
          schema:
            $ref: "#/definitions/BadRequestError"
        "404":
          description: Region deployment not found for the given identifier
  "/api/program/{programId}/environment/{environmentId}/logs":
    get:
      tags:
        - Environments
      summary: Get Environment Logs
      description: List all logs available in environment
      operationId: getEnvironmentLogs
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: environmentId
          in: path
          description: Identifier of the environment
          required: true
          type: string
        - name: service
          in: query
          description: Names of services
          required: true
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: name
          in: query
          description: Names of log
          required: true
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: days
          in: query
          description: number of days for which logs are required
          required: true
          type: integer
          format: int32
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of logs for an environment
          schema:
            $ref: "#/definitions/EnvironmentLogs"
        "400":
          description: invalid parameters
          schema:
            $ref: "#/definitions/BadRequestError"
        "404":
          description: Environment not found
  "/api/program/{programId}/environment/{environmentId}/logs/download":
    get:
      tags:
        - Environments
      summary: Download Logs
      description: Download environment logs
      operationId: downloadLogs
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: environmentId
          in: path
          description: Identifier of the environment
          required: true
          type: string
        - name: service
          in: query
          description: Name of service
          required: true
          type: string
        - name: name
          in: query
          description: Name of log
          required: true
          type: string
        - name: date
          in: query
          description: date for which log is required
          required: true
          type: string
          format: date
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Accept
          required: false
          type: string
          description: "Specify application/json in this header to receive a JSON response. Otherwise, a 307 response code will be returned with a Location header."
          in: header
      responses:
        "200":
          description: Successful retrieval of logs
          schema:
            $ref: "#/definitions/Redirect"
        "400":
          description: invalid parameters
          schema:
            $ref: "#/definitions/BadRequestError"
        "404":
          description: Environment not found
  "/api/program/{programId}/environment/{environmentId}/variables":
    get:
      tags:
        - Variables
      summary: List User Environment Variables
      description: List the user defined variables for an environment (Cloud Service only).
      operationId: getEnvironmentVariables
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
          x-example: "2351"
        - name: environmentId
          in: path
          description: Identifier of the environment
          required: true
          type: string
          x-example: "128"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of environment variables
          schema:
            $ref: "#/definitions/VariableList"
        "404":
          description: Environment not found
    patch:
      tags:
        - Variables
      summary: Patch User Environment Variables
      description: "Modify multiple environment variables (Cloud Service only). To delete a variable, include it with an empty value."
      operationId: patchEnvironmentVariables
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: environmentId
          in: path
          description: Identifier of the environment
          required: true
          type: string
        - in: body
          name: body
          description: "The list of variables to add, modify, or remove. It is not necessary to send variables here which are not changing. The length of `secretString` values must be less than 500 characters."
          required: true
          schema:
            type: array
            items:
              $ref: "#/definitions/EnvironmentVariableUpdate"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "204":
          description: Successful setting of variables
        "404":
          description: Environment not found
  "/api/program/{programId}/environment/{environmentId}/reset":
    put:
      tags:
        - Rapid Development Environments
      summary: Reset Rapid Development Environment
      description: Reset Rapid Development Environment. Also updates the RDE to the latest AEM release.
      operationId: resetRde
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: environmentId
          in: path
          description: Identifier of the environment
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "202":
          description: Successfully reset RDE
        "404":
          description: Environment not found
  "/api/program/{programId}/environment/{environmentId}/restorePoints":
    get:
      tags:
        - Environment Restore From Backup
      summary: Get Restore Points
      description: List the backups available for this environment (Cloud Service only)
      operationId: getRestorePoints
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: environmentId
          in: path
          description: Identifier of the environment
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of restore points for an environment
          schema:
            $ref: "#/definitions/RestorePointsList"
        "404":
          description: Resource not found
  "/api/program/{programId}/environment/{environmentId}/restoreExecution/{restoreId}":
    get:
      tags:
        - Environment Restore From Backup
      summary: Get Restore Execution
      description: Returns a restore execution by its id (Cloud Service only)
      operationId: getRestoreExecution
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: environmentId
          in: path
          description: Identifier of the environment
          required: true
          type: string
        - name: restoreId
          in: path
          description: Identifier of the restore execution
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/RestoreExecution"
  "/api/program/{programId}/environment/{environmentId}/restoreExecution/{restoreId}/logs":
    get:
      tags:
        - Environment Restore From Backup
      summary: Get Restore Execution Logs
      description: Gets the logs of a Restore Execution (Cloud Service only)
      operationId: getRestoreExecutionLogs
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: environmentId
          in: path
          description: Identifier of the environment
          required: true
          type: string
        - name: restoreId
          in: path
          description: Identifier of the restore execution
          required: true
          type: string
        - name: Accept
          in: header
          required: false
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        default:
          description: successful operation
  "/api/program/{programId}/environment/{environmentId}/restoreExecutions":
    get:
      tags:
        - Environment Restore From Backup
      summary: Lists Restore Executions
      description: List the Restore Executions of an environment (Cloud Service only)
      operationId: getRestoreExecutions
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: environmentId
          in: path
          description: Identifier of the environment
          required: true
          type: string
        - name: start
          in: query
          description: Pagination start parameter
          required: false
          type: string
          default: "0"
        - name: limit
          in: query
          description: Pagination limit parameter
          required: false
          type: integer
          default: 5
          format: int32
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/RestoreExecutionList"
  "/api/program/{programId}/environment/{environmentId}/restoreExecution":
    put:
      tags:
        - Environment Restore From Backup
      summary: Start a Restore Execution
      description: Start a Restore from Backup execution (Cloud Service only)
      operationId: restoreExecution
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: environmentId
          in: path
          description: Identifier of the environment
          required: true
          type: string
        - in: body
          name: body
          description: Restore Parameters Representation
          required: false
          schema:
            $ref: "#/definitions/RestoreParamRepresentation"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "200":
          description: Environment restore in progress
          schema:
            $ref: "#/definitions/RestoreExecution"
        "404":
          description: Environment not found
        "412":
          description: Restore precondition failed
  "/api/program/{programId}/pipeline/{pipelineId}/variables":
    get:
      tags:
        - Variables
      summary: List User Pipeline Variables
      description: List the user defined variables for an pipeline.
      operationId: getPipelineVariables
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
          x-example: "2351"
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
          x-example: "128"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of pipeline variables
          schema:
            $ref: "#/definitions/VariableList"
        "404":
          description: Pipeline not found
    patch:
      tags:
        - Variables
      summary: Patch User Pipeline Variables
      description: "Modify multiple pipeline variables. To delete a variable, include it with an empty value."
      operationId: patchPipelineVariables
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: pipelineId
          in: path
          description: Identifier of the pipeline
          required: true
          type: string
        - in: body
          name: body
          description: "The list of variables to add, modify, or remove. It is not necessary to send variables here which are not changing. The length of `secretString` values must be less than 500 characters."
          required: true
          schema:
            type: array
            items:
              $ref: "#/definitions/PipelineVariableUpdate"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "204":
          description: Successful setting of variables
        "404":
          description: Pipeline not found
  "/api/program/{programId}/ipAllowlist/{ipAllowlistId}":
    get:
      tags:
        - IP Allowlist
      summary: Get IP Allowlist
      description: Returns an IP Allowlist based on program and id
      operationId: getIPAllowlist
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: ipAllowlistId
          in: path
          description: Identifier of the IP Allowlist
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of IP Allowlist
          schema:
            $ref: "#/definitions/IPAllowedList"
        "404":
          description: Resource not found
    put:
      tags:
        - IP Allowlist
      summary: Update IP Allowlist
      description: Updates an IP Allowlist for the program with specified values
      operationId: updateIPAllowlist
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: ipAllowlistId
          in: path
          description: Identifier of the IP Allowlist
          required: true
          type: string
        - in: body
          name: body
          description: IP Allowlist
          required: true
          schema:
            $ref: "#/definitions/Updateanipallowlist"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "200":
          description: IP Allowlist updated
          schema:
            $ref: "#/definitions/IPAllowedList"
        "400":
          description: The request is malformed.
        "404":
          description: Resource not found
    delete:
      tags:
        - IP Allowlist
      summary: Delete IP Allowlist
      description: Deletes the IP Allowlist for the program
      operationId: deleteIPAllowlist
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: ipAllowlistId
          in: path
          description: Identifier of the IP Allowlist
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "202":
          description: Delete was successful
          schema:
            $ref: "#/definitions/IPAllowedList"
        "404":
          description: Resource not found
  "/api/program/{programId}/ipAllowlist/{ipAllowlistId}/binding/{ipAllowlistBindingId}":
    get:
      tags:
        - IP Allowlist Binding
      summary: Get IP Allowlist binding
      description: Returns an IP Allowlist binding based on program and IP allowlist id
      operationId: getIPAllowlistBinding
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: ipAllowlistId
          in: path
          description: Identifier of the IP Allowlist
          required: true
          type: string
        - name: ipAllowlistBindingId
          in: path
          description: Identifier of the IP Allowlist Binding
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Successful retrieval of IP Allowlist
          schema:
            $ref: "#/definitions/IPAllowedListBinding"
        "404":
          description: IP Allowlist not found
    delete:
      tags:
        - IP Allowlist Binding
      summary: Delete IP Allowlist binding
      description: Deletes the IP Allowlist binding for the program and IP Allowlist id
      operationId: deleteIPAllowlistBinding
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: ipAllowlistId
          in: path
          description: Identifier of the IP Allowlist
          required: true
          type: string
        - name: ipAllowlistBindingId
          in: path
          description: Identifier of the IP Allowlist binding
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "202":
          description: Delete was successful
          schema:
            $ref: "#/definitions/IPAllowedListBinding"
        "404":
          description: IP Allowlist not found
  "/api/program/{programId}/ipAllowlist/{ipAllowlistId}/bindings":
    get:
      tags:
        - IP Allowlist Binding
      summary: Lists IP Allowlist bindings
      description: Returns all IP Allowlists bindings for an IpAllowList of a program
      operationId: getIPAllowlistBindings
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: ipAllowlistId
          in: path
          description: Identifier of the IP Allowlist
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: The list of IP Allowlists assigned to the program
          schema:
            $ref: "#/definitions/IPAllowlistBindingsList"
        "404":
          description: IP Allowlist not found
    post:
      tags:
        - IP Allowlist Binding
      summary: Creates an IP Allowlist binding
      description: Creates an IP Allowlist binding to an environment for a specific tier
      operationId: createIPAllowlistBinding
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: ipAllowlistId
          in: path
          description: Identifier of the IP Allowlist
          required: true
          type: string
        - in: body
          name: body
          description: IP Allowlist binding
          required: true
          schema:
            $ref: "#/definitions/IPAllowedListBinding"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/IPAllowedListBinding"
        "201":
          description: IP Allowlist binding created
          schema:
            $ref: "#/definitions/IPAllowedListBinding"
        "400":
          description: The request is malformed.
        "404":
          description: Environment not found
        "412":
          description: Creating IP Allowlists for non cloud programs is not supported
  "/api/program/{programId}/ipAllowlists":
    get:
      tags:
        - IP Allowlist
      summary: Lists IP Allowlists
      description: Returns all IP Allowlists that are defined for this program
      operationId: getProgramIPAllowlists
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: The list of IP Allowlists assigned to the program
          schema:
            $ref: "#/definitions/IPAllowlistList"
        "404":
          description: Program not found
    post:
      tags:
        - IP Allowlist
      summary: Creates an IP Allowlist
      description: Creates an IP Allowlist for the program with specified values
      operationId: createIPAllowlist
      parameters:
        - name: programId
          in: path
          description: Identifier of the program
          required: true
          type: string
        - in: body
          name: body
          description: IP Allowlist
          required: true
          schema:
            $ref: "#/definitions/Createanewipallowlist"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/IPAllowedList"
        "201":
          description: IP Allowlist created
          schema:
            $ref: "#/definitions/IPAllowedList"
        "400":
          description: The request is malformed.
        "404":
          description: Program not found
        "412":
          description: Creating IP Allowlists for non cloud programs is not supported
  "/api/program/{programId}/domains":
    get:
      tags:
        - Domain
      summary: Get list of domains
      description: ""
      operationId: getDomain
      parameters:
        - name: programId
          in: path
          description: Identifier of program id
          required: true
          type: string
        - name: name
          in: query
          description: Domain name
          required: false
          type: string
        - name: anyVerified
          in: query
          description: Filter any verified
          required: false
          type: boolean
        - name: isTxt
          in: query
          description: Is TXT verified
          required: false
          type: boolean
        - name: isAcme
          in: query
          description: Is ACME verified
          required: false
          type: boolean
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: List of domains received
          schema:
            $ref: "#/definitions/Domain"
    post:
      tags:
        - Domain
      summary: Create a domain
      description: ""
      operationId: createDomain
      parameters:
        - name: programId
          in: path
          description: Identifier of program
          required: true
          type: string
        - in: body
          name: body
          description: Payload for creating a domain
          required: true
          schema:
            $ref: "#/definitions/DomainCreate"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "200":
          description: Domain created
          schema:
            $ref: "#/definitions/Domain"
        "404":
          description: Program not found
        "409":
          description: Domain already exists
  "/api/program/{programId}/domain/{domain-id}":
    get:
      tags:
        - Domain
      summary: Get domain
      description: ""
      operationId: getDomain
      parameters:
        - name: programId
          in: path
          description: Identifier of program id
          required: true
          type: string
        - name: domain-id
          in: path
          description: Identifier of domain id
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Domain received
          schema:
            $ref: "#/definitions/Domain"
        "404":
          description: Domain not found
    put:
      tags:
        - Domain
      summary: Update domain
      description: ""
      operationId: modifyDomain
      parameters:
        - name: programId
          in: path
          description: Identifier of program id
          required: true
          type: string
        - name: domain-id
          in: path
          description: Identifier of domain id
          required: true
          type: string
        - in: body
          name: body
          description: Domain Update Body
          required: true
          schema:
            $ref: "#/definitions/UpdateaDomain"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "200":
          description: Domain updated
          schema:
            $ref: "#/definitions/Domain"
        "404":
          description: Program not found
    delete:
      tags:
        - Domain
      summary: Delete a domain
      description: ""
      operationId: deleteDomain
      parameters:
        - name: programId
          in: path
          description: Identifier of program id
          required: true
          type: string
        - name: domain-id
          in: path
          description: Identifier of domain id
          required: true
          type: string
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Domain deleted
          schema:
            $ref: "#/definitions/Response"
  "/api/program/{programId}/domain/{domain-id}/validate":
    put:
      tags:
        - Domain
      summary: Check validation
      description: ""
      operationId: domainValidationToken
      parameters:
        - name: programId
          in: path
          description: Identifier of program id
          required: true
          type: string
        - name: domain-id
          in: path
          description: Identifier of domain id
          required: true
          type: string
        - in: body
          name: body
          description: Payload for validation operation
          required: true
          schema:
            $ref: "#/definitions/DomainTokenValidationBody"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "200":
          description: Validation is completed
          schema:
            $ref: "#/definitions/Domain"
        "404":
          description: Program not found
  "/api/program/{programId}/domain/{domain-id}/validation":
    post:
      tags:
        - Domain
      summary: Creates validation token
      description: ""
      operationId: domainValidationToken
      parameters:
        - name: programId
          in: path
          description: Identifier of program id
          required: true
          type: string
        - name: domain-id
          in: path
          description: Identifier of domain id
          required: true
          type: string
        - in: body
          name: body
          description: Payload for validation operation
          required: true
          schema:
            $ref: "#/definitions/DomainTokenValidationBody"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "200":
          description: Created validation token
          schema:
            $ref: "#/definitions/Domain"
        "404":
          description: Program Not found
  "/api/program/{programId}/domain-mapping/{domainMappingId}":
    get:
      tags:
        - Domain Mappings - CDN Configurations
      summary: Get domain mapping
      description: ""
      operationId: getDomainMappingById
      parameters:
        - name: programId
          in: path
          description: Identifier of program
          required: true
          type: integer
          format: int64
        - name: domainMappingId
          in: path
          description: Identifier of domain mapping
          required: true
          type: integer
          format: int64
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Domain Mapping retrieved
          schema:
            $ref: "#/definitions/DomainMapping"
        "404":
          description: Domain Mapping not found
    put:
      tags:
        - Domain Mappings - CDN Configurations
      summary: Update domain mapping
      description: ""
      operationId: updateDomainMapping
      parameters:
        - name: programId
          in: path
          description: Identifier of program
          required: true
          type: integer
          format: int64
        - name: domainMappingId
          in: path
          description: Identifier of domain mapping
          required: true
          type: integer
          format: int64
        - in: body
          name: body
          description: Payload for updating a domain mapping
          required: true
          schema:
            $ref: "#/definitions/Updateadomainmapping"
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
        - name: Content-Type
          in: header
          description: Must always be application/json
          required: true
          type: string
      responses:
        "200":
          description: Domain Mapping updated
          schema:
            $ref: "#/definitions/DomainMapping"
        "404":
          description: Domain Mapping not found
    delete:
      tags:
        - Domain Mappings - CDN Configurations
      summary: Delete domain mapping
      description: ""
      operationId: deleteDomainMapping
      parameters:
        - name: programId
          in: path
          description: Identifier of program
          required: true
          type: integer
          format: int64
        - name: domainMappingId
          in: path
          description: Identifier of domain mapping
          required: true
          type: integer
          format: int64
        - name: x-gw-ims-org-id
          in: header
          description: IMS organization ID that the request is being made under.
          required: true
          type: string
        - name: Authorization
          in: header
          description: "Bearer [token] - An access token for the technical account created through integration with Adobe IO"
          required: true
          type: string
        - name: x-api-key
          in: header
          description: IMS Client ID (API Key) which is subscribed to consume services on console.adobe.io
          required: true
          type: string
      responses:
        "200":
          description: Domain Mapping deleted
          schema:
[...]
