swagger: "2.0"
info:
  version: "1.0.0"
  title: Cloud Manager Event Definitions

host: cloudmanager.adobe.io

basePath: /

schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

paths:


definitions:
  Pipeline Execution Start Event:
    type: object
    properties:
      "@id":
        type: string
        description: A unique identifier for the event
      "@type":
        type: string
        const: https://ns.adobe.com/xdm/common/event/created
        description: The XDM event type.
      "activitystreams:objectType":
        type: string
        const: https://cloudmanager.adobe.io/api/swagger.json#!/definitions/PipelineExecution
        description: The object type.
      "activitystreams:published":
        type: string
        description: The timestamp of the event.
        format: date-time
      "activitystreams:to":
        $ref: '#/definitions/Organization'
      "activitystreams:actor":
        $ref: '#/definitions/User'
      "activitystreams:object":
        $ref: '#/definitions/Pipeline Execution Object'

  Pipeline Step Start Event:
    type: object
    properties:
      "@id":
        type: string
        description: A unique identifier for the event
      "@type":
        type: string
        const: https://ns.adobe.com/xdm/common/event/updated
        description: The XDM event type.
      "activitystreams:objectType":
        type: string
        const: https://cloudmanager.adobe.io/api/swagger.json#!/definitions/PipelineExecution
        description: The object type.
      "activitystreams:published":
        type: string
        description: The timestamp of the event.
        format: date-time
      "activitystreams:to":
        $ref: '#/definitions/Organization'
      "activitystreams:actor":
        $ref: '#/definitions/User'
      "activitystreams:object":
        $ref: '#/definitions/Pipeline Execution Object'

  Pipeline Step Waiting Event:
    type: object
    properties:
      "@id":
        type: string
        description: A unique identifier for the event
      "@type":
        type: string
        const: https://ns.adobe.com/xdm/common/event/updated
        description: The XDM event type.
      "activitystreams:objectType":
        type: string
        const: https://cloudmanager.adobe.io/api/swagger.json#!/definitions/PipelineExecution
        description: The object type.
      "activitystreams:published":
        type: string
        description: The timestamp of the event.
        format: date-time
      "activitystreams:to":
        $ref: '#/definitions/Organization'
      "activitystreams:actor":
        $ref: '#/definitions/User'
      "activitystreams:object":
        $ref: '#/definitions/Pipeline Execution Object'

  Pipeline Step End Event:
    type: object
    properties:
      "@id":
        type: string
        description: A unique identifier for the event
      "@type":
        type: string
        const: https://ns.adobe.com/xdm/common/event/updated
        description: The XDM event type.
      "activitystreams:objectType":
        type: string
        const: https://cloudmanager.adobe.io/api/swagger.json#!/definitions/PipelineExecution
        description: The object type.
      "activitystreams:published":
        type: string
        description: The timestamp of the event.
        format: date-time
      "activitystreams:to":
        $ref: '#/definitions/Organization'
      "activitystreams:actor":
        $ref: '#/definitions/User'
      "activitystreams:object":
        $ref: '#/definitions/Pipeline Execution Object'

  Pipeline Execution End Event:
    type: object
    properties:
      "@id":
        type: string
        description: A unique identifier for the event
      "@type":
        type: string
        const: https://ns.adobe.com/xdm/common/event/updated
        description: The XDM event type.
      "activitystreams:objectType":
        type: string
        const: https://cloudmanager.adobe.io/api/swagger.json#!/definitions/PipelineExecution
        description: The object type.
      "activitystreams:published":
        type: string
        description: The timestamp of the event.
        format: date-time
      "activitystreams:to":
        $ref: '#/definitions/Organization'
      "activitystreams:actor":
        $ref: '#/definitions/User'
      "activitystreams:object":
        $ref: '#/definitions/Pipeline Execution Object'


  Pipeline Execution Object:
    type: object
    properties:
      "@id":
        type: string
        description: The identifier of the pipeline execution. Will always be a URL to the execution endpoint.
      "@type":
        type: string
        const: https://cloudmanager.adobe.io/api/swagger.json#!/definitions/PipelineExecution
      "https://cloudmanager.adobe.io/api/swagger.json#!/definitions/PipelineExecution/properties/autotriggered":
        type: boolean
      "https://cloudmanager.adobe.io/api/swagger.json#!/definitions/PipelineExecution/properties/status":
        type: string
        description: The status of the pipeline.
        enum:
          - NOT_STARTED
          - RUNNING
          - CANCELLING
          - CANCELLED
          - FINISHED
          - ERROR
          - WAITING_FOR_INPUT
          - FAILED
      "https://cloudmanager.adobe.io/api/swagger.json#!/definitions/PipelineExecution/properties/stepStates":
        type: array
        description: The state of the individual steps within the execution
        items:
          $ref: '#/definitions/Pipeline Execution Step State'

  Pipeline Execution Step State:
    type: object
    properties:
        "https://cloudmanager.adobe.io/api/swagger.json#!/definitions/Pipeline+Execution+Step+State/properties/stepId":
          type: string
          description: The identifier of the pipeline step state.
        "https://cloudmanager.adobe.io/api/swagger.json#!/definitions/Pipeline+Execution+Step+State/properties/action":
          type: string
          description: The action name for the pipeline step state.
        "https://cloudmanager.adobe.io/api/swagger.json#!/definitions/Pipeline+Execution+Step+State/properties/status":
          type: string
          enum:
            - NOT_STARTED
            - RUNNING
            - FINISHED
            - ERROR
            - ROLLING_BACK
            - ROLLED_BACK
            - WAITING
            - CANCELLED
            - FAILED

  Organization:
    type: object
    properties:
      "@id":
        type: string
        description: An Adobe Organization Id
      "@type":
        type: string
        const: http://ns.adobe.com/adobecloudplatform/ims/organization
  User:
    type: object
    properties:
      "@id":
        type: string
        description: An Adobe User Id
      "@type":
        type: string
        const: https://ns.adobe.com/adobecloudplatform/ims/user
