swagger: "2.0"
info:
  version: "1.0.0"
  title: Cloud Manager Event Definitions

host: cloudmanager.adobe.io

basePath: /

schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

paths:


definitions:
  Pipeline Execution Start Event:
    type: object
    properties:
      "@id":
        type: string
        description: A unique identifier for the event
      "@type":
        type: string
        const: https://ns.adobe.com/xdm/common/event/created
        description: The XDM event type.
      "activitystreams:objectType":
        type: string
        const: https://cloudmanager.adobe.io/api/swagger.json#!/definitions/PipelineExecution
        description: The object type.
      "activitystreams:published":
        type: string
        format: date-time
      "activitystreams:to":
        $ref: '#/definitions/Organization'
      "activitystreams:actor":
        $ref: '#/definitions/User'
      "activitystreams:object":
        $ref: '#/definitions/Pipeline Execution Object'

  Pipeline Execution Object:
    type: object
    properties:
      "@id":
        type: string
        description: The identifier of the pipeline execution. Will always be a URL to the execution endpoint.
      "@type":
        type: string
        const: https://cloudmanager.adobe.io/api/swagger.json#!/definitions/PipelineExecution
      "https://cloudmanager.adobe.io/api/swagger.json#!/definitions/PipelineExecution/properties/autotriggered":
        type: boolean
      "https://cloudmanager.adobe.io/api/swagger.json#!/definitions/PipelineExecution/properties/status":
        type: string
        const: RUNNING
        description: The status of the pipeline.

  Organization:
    type: object
    properties:
      "@id":
        type: string
        description: An Adobe Organization Id
  User:
    type: object
    properties:
      "@id":
        type: string
        description: An Adobe User Id
